:root {
  /* primary colors */

  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Darkdesaturatedcyan: hsl(167, 40%, 24%);
  --Darkblue: hsl(198, 62%, 26%);
  --Darkmoderatecyan: hsl(168, 34%, 41%);

  /* Neutral colors */

  --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
  --Verydarkgrayishblue: hsl(213, 9%, 39%);
  --Darkgrayishblue: hsl(232, 10%, 55%);
  --Grayishblue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

  /* font family */

  --barlowFamily: "Barlow";
  --FraunceFamily: "Fraunces";

  /* font weights */

  --barNormal: 600;
  --FraunceNormal: 700;
  --FraunceBold: 900;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


header{
  width: 100%;
  height: 100vh;
  position: relative;
}

header .header-img{
  width: 100%;
  height: 100%;
}

header .header-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header nav{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav ul{
  display: flex;
  flex-direction: row;
}

header nav ul li{
  margin-left: .2rem;
  padding: 1rem 2rem;  
  border-radius: 2rem;
  transition: .5s;
  cursor: pointer;
}

header nav ul li:nth-child(4){
  background-color: var(--White);
  border-radius: 2rem;
}

header nav ul li a{
  font-family: var(--barlowFamily);
  font-size: 1.6rem;
  color: var(--White);
  font-weight: var(--barNormal);
}

header nav ul li:nth-child(4) a{
  color: var(--Verydarkdesaturatedblue);
  text-transform: uppercase;
  font-weight: 600;
}

header nav ul li:hover{
  background-color:rgba(255, 255, 255, 0.671) ;
}

header nav ul li:hover a{
  color: var(--Verydarkdesaturatedblue);
}

header nav input,header nav label{
  display: none;
}

header .hero__heading{
  position: absolute;
  top: 20%;
  width: 100%;
}

header .hero__heading h1{
  text-align: center;
  color: var(--White);
  font-size: 5rem;
  letter-spacing: 10px;
  font-family: var(--FraunceFamily);
}

header .arrow__down{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%,-50%);
  animation: updown 1s ease-in-out forwards infinite;
}

@keyframes updown {
  0%{
    top: 50%;
  }
  25%{
    top: 50.5%;
  }
  50%{
    top:51%
  }
  75%{
    top: 50.5%;
  }
  100%{
    top: 50%;
  }
}

/* product show section stars */

.product__show{
  width: 100%;
  height: auto;
}

.product__show .product__items{
  width: 100%;
  height: auto;
}

.product__show .product__items .text__box{
     padding: 3rem 4rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.product__show .product__items .text__box h1{
  color: var(--Verydarkdesaturatedblue);
  font-size: 3rem;
  font-family: var(--FraunceFamily);
  font-weight: var(--FraunceBold);
  margin: 1rem 0;
}

.product__show .product__items .text__box p{
  font-size: 1.6rem;
  color: var(--Verydarkgrayishblue);
  font-family: var(--barlowFamily);
  margin: 2rem 0;
}

.product__show .product__items .text__box a{
  font-size: 1.8rem;
  font-family: var(--barNormal);
  font-weight: var(--barNormal);
  color: var(--Verydarkdesaturatedblue);
  position: relative;
}

.product__show .product__items .part__one,
.product__show .product__items .part__two,
.product__show .product__items .part__three{
  display: flex;
  flex-direction: row;
}

.product__show .product__items .product__item{
  width: 50%;
}

.product__show .product__items .part__one .product__item .first__a::after{
  content: "";
  position: absolute;
  bottom: .2rem;
  left: 0;
  width: 9rem;
  height: 0.4rem;
  background: var(--Yellow);
  z-index: -1;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

#second__a::after{
  content: '';
   position: absolute;
  bottom: .2rem;
  left: 0;
  width: 9rem;
  height: 0.4rem;
  background: var(--Softred);
  z-index: -1;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.product__show .product__items .product__item .img__box{
  width: 100%;
  height: 100%;
}

.product__show .product__items .product__item{
  position: relative;
}

.product__show .product__items .product__item .text__top{
  position: absolute;
  bottom: 1rem;
  padding: 4rem;
}

.product__show .product__items .product__item .text__top h1{
  font-size: 3rem;
  color: var(--Verydarkdesaturatedblue);
  margin-bottom: 2rem;
  text-align: center;
  font-family: var(--FraunceFamily);
  font-weight: var(--FraunceBold);
}

.product__show .product__items .product__item .text__top p{
  font-size: 1.6rem;
  color: var(--Verydarkdesaturatedblue);
  text-align: center;
  font-family: var(--barlowFamily);
}

/* product show ends */

/* Testmonials start */

.testimonials{
  padding: 3rem 0;
}

.testimonials .testimonials__heading{
  color: var(--Darkgrayishblue);
  font-size: 3rem;
  letter-spacing: 5px;
  font-family: var(--barlowFamily);
  text-transform: uppercase;
  font-weight: var(--barNormal);
  text-align: center;
}

.testimonials .clients {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}

.testimonials .clients .client{
  padding: 4rem;
}

.testimonials .clients .client{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials .clients .client .img__box{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.testimonials .clients .client .img__box img{
  border-radius: 50%;
  object-fit: contain;
}

.testimonials .clients .client .description{
  margin: 2rem 0;
  text-align: center;
  color: var(--Verydarkgrayishblue);
  font-size: 1.6rem;
  font-family: var(--barlowFamily);
  font-weight: var(--barNormal);
}

.testimonials .clients .client .name{
  color: var(--Verydarkdesaturatedblue);
  font-size: 2rem;
  text-align: center;
  font-family: var(--FraunceBold);
  letter-spacing: 0;
}

.testimonials .clients .client .role{
  margin: 1rem;
  font-size: 1.6rem;
  color: var(--Darkgrayishblue);
}

/* Testimonials ends */

/* image gallery starts */

.pics{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pics .pic{
  height: 25rem;
}

/* image gallery ends */

/* footer starts */

footer{
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(166, 56%, 61%)
}



footer .logo__footer{
  margin: 0 0 1rem 0;
}

footer .links{
  width: 22rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .links a{
  font-size: 1.8rem;
  color: var(--Darkdesaturatedcyan);
  font-family: var(--barlowFamily);
  font-weight: var(--barNormal);
}

footer .media__icons{
  padding-top: 2rem;
  width: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .media__icons li{
  cursor: pointer;
}

/* footer ends */

@media only screen and (max-width:590px){
  header nav ul{
    position: absolute;
    top: 6.5rem;
    left: 5%;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);
    width: 90%;
    height: 0;
    overflow: hidden;
    z-index: 55;
  }

  header nav ul li a{
    color: var(--Verydarkdesaturatedblue);
  }
  
  header nav ul li:nth-child(1){
    margin-top: 2rem;
  }

  header nav ul li:nth-child(4){
    background-color: var(--Yellow);
    margin-bottom: 2rem;
  }

  header nav label{
    position: absolute;
    top: 2rem;
    right: 5%;
    display: inline-block;
  }

  header nav #togglerBars:checked~ul{
    height: auto;
  }

  /* product show section */

  .product__show .product__items .part__one,
  .product__show .product__items .part__three{
  display: flex;
  flex-direction: column;
}

.product__show .product__items .part__two{
  display: flex;
  flex-direction: column-reverse;
}

  .product__show .product__items .text__box{
    align-items: center;
    text-align: center;
    padding: 10rem 0;
  }

  .product__show .product__items .product__item{
    width: 100%;
  }
  
  /* testimonial section */

  .testimonials .clients{
    grid-template-columns: 4fr;
  }

  /* image gallery */

  .pics{
    grid-template-columns: 2fr 2fr;
  }

}